torch>=2.6.0
torchvision
transformers>=5.0.0
sentence-transformers
numpy>=2.0
pandas>=2.0
clearml
python-dotenv
scipy>=1.14
scikit-learn
matplotlib
seaborn
joblib
tqdm
fastparquet
umap-learn
hdbscan
pynndescent>=0.5.13
bertopic
gensim
optuna
huggingface-hub
openai
pymorphy3
pymorphy2-dicts-ru
razdel
sqlalchemy
psycopg2-binary
pyarrow>=15.0
