clearml
python-dotenv
numpy>=2.0
pandas>=2.0
scipy>=1.14
scikit-learn
matplotlib
seaborn
joblib
tqdm
fastparquet
sentence-transformers
umap-learn
hdbscan
pynndescent>=0.5.13
bertopic
gensim
optuna
huggingface-hub
openai
pymorphy3
pymorphy2-dicts-ru
razdel
torch
torchvision
